@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
@import 'mixins';
@import 'variables';
@import 'components/global/navbar/Navbar';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;

  //Fix the issue with the navbar not being set properly
  div#root {
    height: 100%;
    width: 100%;

    div.app-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      min-height: 100vh;
      margin-top: 45px;
      padding: 10px;

      &.theme-light {
        background: #fff;
        color: #000;
      }

      &.theme-dark {
        background: #000;
        color: #fff;
      }

      div.app {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }

    h1,
    h2,
    h3 {
      margin: 15px 0;
    }
    h4,
    h5,
    h6 {
      margin: 5px;
    }
    p {
      padding: 5px;
    }
    a {
      position: relative;
      overflow: hidden;
      color: inherit;
      text-decoration: none;
    }
    a.link-highlight {
      &::after {
        content: '';
        background: $highlight-blue;
        opacity: 0.65;
        position: absolute;
        left: calc(50% - 45%);
        bottom: 0;
        width: 90%;
        height: calc(100% - 15px);
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        transition: 0.5s cubic-bezier(0.25, 0.1, 0, 2.05);
      }
      &:hover:after {
        width: 100%;
        height: 90%;
        left: 0;
        border-radius: 1px;
        opacity: 0.3;
        transition: 0.65s cubic-bezier(0.25, 0.1, 0, 2.05);
      }
    }
    ul,
    p {
      margin: 2px;
    }
    ul {
      padding: 10px;
      list-style-type: none;
    }
  }
}
