@import 'sub-components/ThemeSwitcher';
@import '../../../_variables';

header.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 45px;
  padding: 0 30px;
  background-color: #fff;
  z-index: 99;

  div.mobile-navbar-toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 40px;
    width: 40px;

    .top,
    .center,
    .bottom {
      height: 4px;
      background-color: #000;
      border-radius: 10px;
      transition: 0.75s all;
    }
    .top {
      width: 100%;
    }
    .center {
      background-color: $highlight-blue;
      width: 75%;
    }
    .bottom {
      width: 50%;
    }

    &.active {
      .top {
        animation: activeMobileNavTransitionTop 0.75s forwards;
      }
      .center {
        opacity: 0;
      }
      .bottom {
        animation: activeMobileNavTransitionBottom 0.75s forwards;
      }
    }

    @include desktop-breakpoint {
      display: none;
    }
  }

  div.main-nav-items {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 44px;
    visibility: hidden;
    left: 0;
    height: calc(100vh - 45px);
    width: 60%;
    padding: 10px 10%;
    background-color: #fff;
    border-bottom-right-radius: 35px;
    transition: 0.75s all;

    a {
      margin: 5px;
      color: #000;

      @include desktop-breakpoint {
        padding: 0 0 2px 0;
        border-bottom: 1px solid #000;
      }
    }

    &.active {
      animation: activeMobileNav 0.75s forwards;
    }

    @include desktop-breakpoint {
      flex-direction: row;
      position: relative;
      top: auto;
      left: auto;
      width: auto;
      height: auto;
      padding: 0 10px;
      background-color: transparent;
      border-bottom-right-radius: 0;
      visibility: visible;
    }
  }
}

@keyframes activeMobileNavTransitionTop {
  0% {
    transform: rotate(0);
  }
  100% {
    position: absolute;
    left: 5%;
    top: 18px;
    width: 90%;
    transform: rotate(225deg);
  }
}

@keyframes activeMobileNavTransitionBottom {
  0% {
    transform: rotate(0);
  }
  100% {
    position: absolute;
    right: 7%;
    width: 90%;
    transform: rotate(-225deg);
  }
}

@keyframes activeMobileNav {
  0% {
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
