@import '../../../../_variables';

div.theme-switcher-container {
  display: flex;
  justify-content: space-between;
  height: 65%;
  width: 35%;
  max-width: 150px;
  border: 2px solid $nav-black;
  border-radius: 20px;
  padding: 1px;
  transition: all 0.5s;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;

    img {
      width: 80%;
      max-width: 20px;
      @include custom-breakpoint(330px) {
        width: 38%;
      }
    }
  }

  button.active-theme {
    width: 70%;
    transition: all 0.4s;
  }
  button.dark-theme-btn, button.light-theme-btn {
    border-radius: 20px;
    transition: all 0.4s;
  }
  button.light-theme-btn {
    background-color: transparent;
  }

  button.dark-theme-btn {
    background-color: #000;
  }
}

div.app-container {
  &.theme-light {
    header.navbar {
      div.theme-switcher-container {
        border: 2px solid $nav-white;
        transition: all 0.5s;

        button.light-theme-btn {
          background-color: $nav-white;
          transition: all 0.5s;
        }

        button.dark-theme-btn {
          background-color: transparent;
          border-radius: 0;
          transition: all 0.5s;
        }
      }
    }
  }
}
