div.theme-switcher-container {
  display: flex;
  justify-content: space-between;
  height: 65%;
  width: 35%;
  max-width: 150px;
  border: 2px solid #000;
  border-radius: 10px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    -webkit-appearance: none;
    border: none;

    img {
      width: 45%;
    }
  }

  button.light-theme-btn {
    background-color: transparent;
  }

  button.dark-theme-btn {
    background-color: #000;
    border-radius: 7px;
  }

  //button.dark-theme-btn {
  //  background-color: #000;
  //  color: #fff;
  //}
}